<div [formGroup]="form">

  <ng-container [ngSwitch]="question.controlType">
    <h4> {{question.label}}</h4>
        <mat-form-field class="example-full-width" *ngSwitchCase="'textbox'" appearance="fill">
           
            <textarea  cols="200" matInput [formControlName]="question.key" [id]="question.key" [type]="question.type"
               required ></textarea>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill"  required>            
            <mat-select [id]="question.key" [formControlName]="question.key" >
                <mat-option *ngFor="let opt of question.options" [value]="opt.value">{{opt.value}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'multiSelect'" appearance="fill" required>
            <mat-select [id]="question.key" [formControlName]="question.key"  multiple>
                <mat-option *ngFor="let opt of question.options" [value]="opt.value">{{opt.value}}</mat-option>
            </mat-select> 
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'label'" appearance="fill" required>
            <mat-label>{{question.value}}</mat-label>
        </mat-form-field>
    </ng-container> 

</div>