/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.confirmed {
    border:1px solid greenyellow !important;
}
.colorGreen{
    color:greenyellow !important;
}
.notConfirmed{
    border:1px solid red !important;
}
.example-full-width{
    width: 40% !important;
}