<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MetrixLab</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon profile-icon" aria-label="Example icon-button with profile icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container"> 
  <mat-drawer-content> 
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

