<mat-card>
    <mat-card-title>Welcome  <span>{{name}}</span> </mat-card-title>
    <mat-card-subtitle>MatrixLab Interview Survey</mat-card-subtitle>
    <mat-card-content>
        We would appreciate your taking the time to complete the following survey.<br />
        It should take about five minutes of your time.<br />
        Your responses are voluntary and will be confidential. Responses will not be identified by
        individual. All responses will be compiled together and analyzed as a group .<br />
        <br />
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="acceptTermsCheckbox">I have read and accept terms and
                conditions.</mat-checkbox>
        </section>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent" [disabled]="!acceptTermsCheckbox"
            [ngClass]="{'confirmed': acceptTermsCheckbox, 'notConfirmed': !acceptTermsCheckbox}"
            (click)="continue()">Continue</button>
    </mat-card-actions>
</mat-card>