<mat-stepper [linear]="true" *ngIf="initFormReady"   >
    <mat-step [stepControl]="intialFormGroup" >
        <from [formGroup]="intialFormGroup" >
            <ng-template matStepLabel>Initial Questions</ng-template>
            <div *ngFor="let question of initialQuestions" class="form-row">
                <app-question [question]="question" [form]="intialFormGroup"></app-question>
            </div>
            <div>
                <button mat-button matStepperNext (click)="recordUserAction('Initial Form Next Button ')" >Next</button>
            </div>
        </from>
    </mat-step>
    <mat-step [stepControl]="domainFormGroup" >
        <from [formGroup]="domainFormGroup" *ngIf="domainFormReady" >
            <ng-template matStepLabel>Domain Questions</ng-template>
            <div *ngFor="let question of domainQuestions" class="form-row">
                <app-question [question]="question" [form]="domainFormGroup"></app-question>
            </div>
            <div>
                <button mat-button matStepperPrevious (click)="recordUserAction('Domin Form Back Button ')">Back</button>
                <button mat-button matStepperNext (click)="recordUserAction('Domin Form Next Button ')">Next</button>
            </div>
        </from>
    </mat-step>
    <mat-step [stepControl]="finalFormGroup" *ngIf="finalFormReady">
        <from [formGroup]="finalFormGroup"  >
            <ng-template matStepLabel>Final Questions</ng-template>
            <div *ngFor="let question of finalQuestions" class="form-row">
                <app-question [question]="question" [form]="finalFormGroup"></app-question>
            </div>
            <div>
                <button mat-button matStepperPrevious (click)="recordUserAction('Final Form Next Button ')">Back</button>
                <button mat-button matStepperNext (click)='summery()'>Next</button>
            </div>
        </from>
    </mat-step>
    <mat-step >
        <form  >
            <ng-template matStepLabel>Summery And Submit</ng-template>
            <div *ngFor="let answer of summeryAnswers" class="form-row">
                <mat-divider></mat-divider>
                <h4>{{answer.label}}</h4>
                <h4 class="colorGreen">{{answer.answer}}</h4>
            
            </div>
            <button mat-button matStepperPrevious (click)="recordUserAction('Summery Form Back Button ')">Back</button>
            <button mat-button   class="confirmed" (click)='onSubmit()'> Submit</button>
        </form> 
    </mat-step>
</mat-stepper>

<!-- <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
   -->